@model RoleViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<form asp-action="Delete">


    <partial name="PartialViews/DeleteDetails" model="Model" />



  




    <input type="submit" value="Delete" class="btn btn-danger mt-4" />

    <a asp-action="Index" class="btn btn-warning mt-4 mx-3">Back To List</a>
</form>

