
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}




<div class="main-agileinfo">


    <div style="text-align: center !important; color: white !important; padding : 20px ; font-size: 20px ; margin-bottom: 25px;">
        <div class="alert alert-success">
            <h5>Password Reset Link Has Been Sent To Your Email, Please Check Your Inbox</h5>
        </div>

        <div style="margin-top:20px">
            <p><a href="https://mail.google.com/mail/u/0/#inbox" class="btn btn-primary" target="_blank">Go to Your Inbox</a></p>
        </div>
    </div>


	<div class="agileits-top">
 


	</div>
</div>
