@model EmployeeViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>

    <partial name="PartialViews/DeleteDetails" model="Model" />




    <a asp-controller="Employee" asp-route-id="@Model.Id" asp-action="Edit" class="btn btn-warning mt-4 mx-3">Edit</a>

    <a asp-action="Index" class="btn btn-warning mt-4 mx-3">Back To List</a>
</div>

